searchBarPrincipalId{
    width: 350px;
}
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sideBar{
	margin-left: 145px;
	width: 200px
}
.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}